.add-feecategory-btn{
	margin-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 10px;
}

.feecategory-list .form-inline input[type="submit"] {
    margin-bottom: 0;
}

.feecategory-list .form-inline label {
    margin-right: 5px;
}

.feecategory-wrapper {
    border: 1px solid #e4e4e4;
    margin-top: 15px;
    overflow-x: auto;
}

